body
{
    background-color: #ffffff;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 14px;
    margin:  auto;
    width: 900px;
}

#Header
{  
    height:30px;
	font-size:20px;
	padding:5px;
	color:#ffffff; 
    background-color:#97CA47;
	text-align:right;
	font-family:Verdana;	
}

#Intro
{
   height:50px;
   font-size:40px;
   padding:30px 0px 0px 5px;	
   color:#454545;	
   background-color:#ffffff; 	
}

#MainContent
{  	
	height:425px;
	font-size:16px;
	padding:15px;    
    color:#454545;
    background-color:#efefef;    
    border-bottom:1px solid #cccccc; 
    font-family:Verdana;	
}

#FooterTop
{
    height:7px;
    background-color:#3bb0d7;
}

#Footer
{ 
   padding-top:20px;
   color:#005575;
   background-color:#ffffff;   
   text-align:center; 
}

#LoanCalc
{  
    display:none;
	padding:5px;
	background-color:#DDEEFF;
	border:1px solid #007CF9;
}

img
{
    border: 0px;
}

a:link, a:visited
{
    text-decoration:none;
}

a.header:link,a.header:visited
{	
	color:#FFFFFF;
	text-decoration:none;
}

a.header:hover
{
	color:#DDFFBB;
}

a.header:active
{
	color:#008200;
}

a.social:hover
{
	
}

